---
IndentWidth: 4
---
Language: Cpp
AlignTrailingComments: true
BreakBeforeBraces: Linux
ColumnLimit: 80
IncludeBlocks: Merge
PointerAlignment: Right
SpaceBeforeParens: ControlStatements
UseTab: Never
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: false