---
IndentWidth: 4
---
Language: Cpp
AlignConsecutiveMacros: true
AlignTrailingComments: true
BreakBeforeBraces: Linux
ColumnLimit: 80
IncludeBlocks: Merge
PointerAlignment: Right
SpaceBeforeParens: ControlStatements